/* To remove hyperlink effect*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.App {
  text-align: center;
}
.gameHeading {
  padding: 30px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gameHeading {
  background-color: blue;
  padding: 2%;
}
.tab1 {
  background-color: #282c34;

  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
}
.game_images {
  height: 60%;
  width: 60%;
}
.infotable {
  padding: 5%;
  padding-top: 10%;
  width: 40%;
  background: skyblue;
}
.gameDetails {
  padding: 50px;

  margin-left: 300px;
  margin-right: 300px;

  text-align: center;
}
.pricing {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 300px;
  padding-right: 300px;
}
.fixedimage {
  width: 100%;
  height: 100%;
}
.gamePage {
  display: flex;
  flex-direction: column;
}
.p2 {
  background: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.priceval {
  margin-top: 7px;
  width: 150px;
  padding-left: 0;
}
.review {
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
}
